body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #071b58;
}

.calculadora {
  background-color: #887af5;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px #000;
  width: 260px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: #070707;
  color: rgb(236, 241, 242);
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #e7a7ee;
  color: rgb(16, 1, 1);
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #777;
}

button.zero {
  grid-column: span 2;
}
